@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Raleway:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(136, 0, 68);
    --secondary-color: rgb(170, 17, 85);
    --tertiary-color: rgb(221, 17, 85);
}

body {
    font-family: 'Poppins', Courier, monospace;
    margin: 0;
    background-color: var(--primary-color);
    min-height:100%; 
    position:relative; 
    padding-bottom: 3rem;
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 75rem) {
    header {
        justify-content: space-between;
        flex-direction: row;
    }
}

@media (min-width: 75rem) {
    header > * {
        flex: 0 0 33.33%;
        max-width: 33.333%;
    } 
}

header h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
@media (min-width: 75rem) {
    header h1{
        margin-bottom: 0;
    } 
}

.search {
    padding: 0.5rem 1rem;
    font-family: inherit;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.25rem;
    border: 2px solid var(--secondary-color);
    display: block;
    margin-left: auto;
}

.search:focus {
    outline: 0;
    background-color: var(--secondary-color);
}

.search::placeholder {
    color:rgba(255, 255, 255, 0.5);
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movies:hover .movie:not(:hover){
    transform: scale(0.95);
} 

.movie {
    width: 300px;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    transition: 0.2s all;
    cursor: pointer;
}

.movie:hover {
    z-index: 1;
    transform: scale(1);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 70%);
}

.movie img {
    max-width: 100%;
    height: auto;
}

.movie .movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    letter-spacing: 0.5;
}

.movie .movie-info h3 {
    flex-basis: 80%;
    max-width: 80%;
    padding-right: 0.5rem;
}
.movie .movie-info span {
    font-weight: bold;
    position: relative;
    flex-basis: 20%;
    max-width: 20%;
    text-align: center;
    background-color: var(--primary-color);
    padding: 0.75rem 1rem;
}

.movie .movie-info span.green {
    color: lightgreen;
}

.movie .movie-info span.orange {
    color: orange;
}

.movie .movie-info span.red {
    color: red;
}

.overview {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 2rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: all 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}


/* button */
.actions {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--tertiary-color);
    outline: none;
    transition: 0.5s ease-in-out;
    position: relative;
    margin-right: 1rem
}

.btn,
svg{
    border-radius: 3px;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 0.75s ease-in-out;
}

.btn:hover {
    transition: 0.2s ease-in-out;
    background: var(--secondary-color);
}

.btn:hover svg {
    stroke-dashoffset: -480;
}

.btn span {
    color: white;
    font-size: 1.25rem;
    letter-spacing: 0.5;
}

/* Loader */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    opacity: 0;
}

.loader.show{
    opacity: 1;
}

.loader .circle {
    background-color: white;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin: 0.5rem;
    animation: bounce 0.5s ease-in infinite;
}

.loader .circle:nth-of-type(2){
    animation-delay: 0.1s;
}

.loader .circle:nth-of-type(3){
    animation-delay: 0.2s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
    
}
/* Footer */
footer {
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    color: white;
}

a {
    color: pink;
}